{% extends "base.html" %}
    
{% block content %}

<div class="row justify-content-center mt-4">
    <div class="col-8 col-sm-8 col-md-6 align-items-center">
        <div class="card" id="card">
            <div class="card-header" id="cardHeader">
                <div class="row my-2 justify-content-center align-items-center text-center">
                    <div class="col-8 col-sm-8">
                        {% if repetidos %}
                            <p>Favor considerar que estas versões do jogo já estão no banco de dados:</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body" id="cardBody">

                <div class="row my-2 align-items-center">
                    
                    {% if repetidos %}
                        {% for repetido in repetidos %}
                            <p>{{repetido.1}}</p>
                        {% endfor %}
                    {% endif %}
                    <div class="col-12 mt-4">
                        <hr>
                        <p>Gostaria de realizar o cadastro mesmo assim?</p>
                    </div>
                </div>

                <div class="row mb-2">
                    
                    <div class="col-6 mt-4 text-center">
                        <a href="/insert/jogo">
                            <button class="btn btn-danger" type="submit" id="cardButtonDanger">Não</button>
                        </a>
                    </div>

                    <div class="col-6 mt-4 text-center">
                        <form action="/insert/jogo/pt2" method="POST">
                            <button class="btn" type="submit" id="cardButton">Sim</button>
                        </form>
                    </div>

                </div>    

            </div>
        </div>
    </div>
</div>

{% endblock %}