{% extends "base.html" %}
    
{% block content %}

<form method="POST">
    <input type="text" name="nome" placeholder="Nome do jogo">
    <input type="text" name="publicadora" placeholder="Empresa que publicou o jogo">
    <input type="text" name="genero" placeholder="Estilo do jogo, luta, rpg...">
    <input type="number" name="preco" placeholder="Preço do jogo: 0.00">
    
    <p>O jogo é para maiores de 18 anos?</p>
        <input type="radio" name="maior18" value="True">
        <label for="Sim">Sim</label><br>
        <input type="radio" name="maior18" value="False">
        <label for="Não">Não</label><br>

    <button type="submit">Cadastrar</button>
</form>

{% endblock %}