{% extends "base.html" %}
    
{% block content %}

<div class="row justify-content-center mt-4">
    <div class="col-8 col-sm-6 align-items-center">
        <div class="card" id="card">
            <div class="card-header" id="cardHeader">
                <div class="row my-2 align-items-center">
                    {% if dadosLogado %}
                        <p>{{dadosLogado.1}}, tens {{dadosLogado.2}} em teu saldo.</p>
                    {% else %}
                        <p>Para comprar um jogo, favor logar antes.</p>
                    {% endif %}
                    {% if mensagemCompraFalha %}
                        <p>{{mensagemCompraFalha}}</p>
                    {% endif %}
                    {% if mensagemCompraSucesso %}
                        <p>Compra realizada com sucesso:<br> {{nomeJogo}} foi adicionado a tua lista de jogos!</p>
                    {% endif %}
                    {% if jogoEspecifico %}
                        <p>Nenhum game cadastrado com este nome.</p>
                    {% endif %}
                    {% if algum == False %}
                        <p>Nenhum game cadastrado no sistema ainda.</p>
                    {% endif %}
                </div>
            </div>
            <div class="card-body" id="cardBody">
                <form action="/read/jogo" method="POST">
                    <div class="row my-2 align-items-center">
                        <div class="col-sm-4"><label for="nome" class="form-label"><p>Insira nome do jogo:</p></label></div>
                        <div class="col-sm-8"><input name="nome" type="text" class="form-control"></div>
                        <div class="col-12 mt-4 text-center"><button class="btn" type="submit" id="cardButton">Pesquisar</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% if listaJogosVazia != None %}  
    {% if dadosLogado %}
        <div class="row justify-content-center my-4">
            <div class="col-10 col-md-12">
                <div class="row row-cols-1 row-cols-md-2 g-2 justify-content-center align-items-center">
                    {% if jogoEspecifico != None %}
                        {% for jogo in jogos %}
                            <div class="col"> 
                                {% if (loop.index < 3) %}
                                <div class="card mb-3" id="card"> 
                                {% else %}
                                <!-- nth child nao funciona quando tem row col envolvido: Cada card, 
                                mesmo dentro de um card-group, é tratado como o
                                primeiro de seu contexto. Eis a redundancia: -->
                                {% if (loop.index % 2) %}
                                <div class="card mb-3 hiddenEsquerda" id="card"> {% else %}
                                <div class="card mb-3 hiddenDireita" id="card"> {% endif %}
                                {% endif %}

                                    <div class="card-body" id="cardBody">
                                        <p class="card-text">Id: {{jogo.0}} </p>
                                        <p class="card-text">Nome: {{jogo.1}} </p>
                                        <p>Publicadora: {{jogo.2}}</p>
                                        {% if jogo.3 %}
                                            <p class="card-text">Maior18: Sim</p>
                                        {% else %}
                                            <p class="card-text">Maior18: Não</p>
                                        {% endif %}
                                        <p class="card-text">Genero: {{jogo.4}}</p>
                                        <p class="card-text">Preço: {{jogo.5}}</p>
                                        {% if jogo.0 in listaComprados %}
                                            <p class="card-text">Game já adquirido</p>
                                        {% else %}
                                            <form action="/insert/compra/{{jogo.0}}/{{jogo.1}}/{{jogo.5}}" method="POST">
                                                <div class="col-12 mt-4 text-center"><button class="btn" type="submit" id="cardButton">Comprar</button></div>
                                            </form>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="row justify-content-center my-4">
            <div class="col-10 col-md-12">
                <div class="row row-cols-1 row-cols-md-2 g-2 justify-content-center align-items-center">
                    {% if jogoEspecifico != None %}
                        {% for jogo in jogos %}
                            <div class="col">
                                {% if (loop.index < 3) %}
                                <div class="card mb-3" id="card"> 
                                {% else %}
                                <!-- nth child nao funciona quando tem row col envolvido: Cada card,
                                mesmo dentro de um card-group, é tratado como o
                                primeiro de seu contexto. Eis a redundancia: -->
                                {% if (loop.index % 2) %}
                                <div class="card mb-3 hiddenEsquerda" id="card"> {% else %}
                                <div class="card mb-3 hiddenDireita" id="card"> {% endif %}
                                {% endif %}

                                    <div class="card-body" id="cardBody">
                                        <p class="card-text">Id: {{jogo.0}} </p>
                                        <p class="card-text">Nome: {{jogo.1}} </p>
                                        <p class="card-text">Publicadora: {{jogo.2}}</p>
                                        {% if jogo.3 %}
                                            <p class="card-text">Maior18: Sim</p>
                                        {% else %}
                                            <p class="card-text">Maior18: Não</p>
                                        {% endif %}
                                        <p class="card-text">Genero: {{jogo.4}}</p>
                                        <p class="card-text">Preço: {{jogo.5}}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% else %}
                        <p>Nenhum game cadastrado ainda.</p>
                    {% endif %}
                </div>
            </div>
        </div>
 
    {% endif %}

{% endif %}

<script defer src="{{ url_for('static', filename='js/animacaocard/animacaoDireita.js')}}"></script>
<script defer src="{{ url_for('static', filename='js/animacaocard/animacaoEsquerda.js')}}"></script>

{% endblock %}