{% extends "base.html" %}
    
{% block content %}

{% if nomeLogado %}
    <p>{{nomeLogado}}, tens {{creditoLogado.0}} em teu saldo.</p>
    {% endif %}

{% if mensagemCompraFalha %}
    <p>{{mensagemCompraFalha}}</p>
    {% endif %}

{% if mensagemCompraSucesso %}    
    <p>Compra realizada com sucesso:<br> {{nomeJogo}} foi adicionado a tua lista de jogos!</p>
    {% endif %}

<form action="/read/jogo" method="POST">
    <label for="nome">Insira nome do jogo:</label>
    <input name="nome" type="text">
    <button>Pesquisar</button>
</form>

{% if nada %}
    Nenhum game cadastrado com este nome.
    {% else %}
        {% for jogo in jogos %}
        <pre>Id: {{jogo.0}} </pre>
        <pre>Nome: {{jogo.1}} </pre>
        <pre>Publicadora: {{jogo.2}}</pre>
        <pre>Maior18: {{jogo.3}}</pre>
        <pre>Genero: {{jogo.4}}</pre>
        <pre>Preço: {{jogo.5}}</pre>
        <form action="/insert/compra/{{jogo.0}}/{{jogo.1}}/{{jogo.5}}" method="POST">
            <button>Comprar</button>
        </form>
            {% endfor %}
        {% endif %}


{% endblock %}