{% extends "base.html" %}
    
{% block content %}

{% if "mensagemErroDeleteJogo" %}
    <p>{{ mensagemErroDeleteJogo }}</p>
    {% endif %}

{% if mensagemDeleteJogo %}
    <p>{{mensagemDeleteJogo}}</p>
    {% endif %}

{% if listaJogos %}
    {% for jogo in listaJogos %}
        <br>
        <p>Id: {{jogo.0}} </p>
        <form action="/delete/jogo/{{jogo.0}}" method="POST">
            <button>Deletar</button>
        </form>
        <p>Nome: {{jogo.1}} </p>
        <p>Publicadora: {{jogo.2}}</p>
        <p>Maior18: {{jogo.3}}</p>
        <p>Genero: {{jogo.4}}</p>
        <p>preço: {{jogo.5}}</p>
        <form action="/update/jogo/pco/{{jogo.0}}" method="POST">
            <button>Atualizar preço</button>
        </form>

    {% endfor %}
{% else %}
    <p>Não há jogos cadastrados ainda.</p>
{% endif %}    
    
{% endblock %}