{% extends "base.html" %}
    
{% block content %}


<div class="row justify-content-center mt-4">
    <div class="col-8 col-sm-6 align-items-center">
        <div class="card" id="card">
            <div class="card-header" id="cardHeader">
              <p>Atualizar valor do jogo.</p>
            </div>
            <div class="card-body" id="cardBody">
                <form name="precifica" form action="/update/jogo/preco/{{id}}/{{preco}}" method="POST">

                    <div class="row my-2 align-items-center">
                        <div class="col-sm-6"><label for="novoPreco" class="form-label"><p>Digite o novo valor do jogo. Valor atual: {{preco}}</p></label></div>
                        <div class="col-sm-6"><input type="number" name="novoPreco" step="0.1" placeholder="0.00" min="0.00" class="form-control" onfocusout="validarPreco()" oninput="setCustomValidity('')"></div>
                        <div class="col-12 mt-4 text-center"><button class="btn" type="submit" id="cardButton">Atualizar</button></div>
                    </div>
    
                </form>
            </div>
        </div>
    </div>
</div>

<script defer src="{{ url_for('static', filename='js/validaPrecifica/preco.js') }}"></script>

{% endblock %}