<head>
    <script defer src="{{ url_for('static', filename='js/validaCadastroClienteEmail.js') }}"></script>
</head>

{% extends "base.html" %}
    
{% block content %}
{% if dados %}
    <p>Cadastro concluído com sucesso, teu id é {{dados.0}}</p>
    {% else %}
    <p>{{jaCadastrado}}</p>
    {% endif %}

<form name="formCadastroCliente" action="/insert/cliente" method="POST">
    <input type="text" name="nome" placeholder="Nome completo">
    <input type="text" name="nascimento" placeholder="dd/mm/aaaa">
    <input type="number" name="credito" placeholder="Credito inicial: 0.00" step="0.1" min="0.00">
    <input type="password" name="senha" placeholder="******">
    <input type="text" name="email" placeholder="exemplo@exemplo.com" onfocusout="validarCadastroClienteEmail()">

    <button type="submit">Cadastrar</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
<script src="{{ url_for('static', filename='js/validaCpf.js') }}"></script>

{% endblock %}
