{% extends "base.html" %}
    
{% block content %}


<div class="row justify-content-center mt-4">
    <div class="col-8 col-sm-6 align-items-center">
        <div class="card" id="card">
            <div class="card-header" id="cardHeader">
                <div class="row my-2 justify-content-center align-items-center text-center">
                    <div class="col-8 col-sm-6">
                        {% if dados %}
                            <p>Cadastro concluído com sucesso, teu id é {{dados.0}}.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body" id="cardBody">
                <form name="formCadastroCliente" action="/insert/cliente" method="POST">
    
                    <div class="row my-2 align-items-center">

                        <div class="col-sm-4"><label for="nome" class="form-label"><p>Nome:</p></label></div>
                        <div class="col-sm-8"><input type="text" name="nome" class="form-control" placeholder="Nome completo" onfocusout="validarCadastroClienteNome()"></div>
                        
                        <div class="col-sm-4"><label for="nascimento" class="form-label"><p>Data de nascimento:</p></label></div>
                        <div class="col-sm-8"><input type="text" name="nascimento" class="form-control" placeholder="dd/mm/aaaa" onfocusout="validarCadastroClienteData()"></div>
                        
                        <div class="col-sm-4"><label for="credito" class="form-label"><p>Credito:</p></label></div>
                        <div class="col-sm-8"><input type="number" name="credito" class="form-control" placeholder="0.00" step="0.1" min="0.00" onfocusout="validarCadastroClienteCredito()"></div>
                        
                        <div class="col-sm-4"><label for="senha" class="form-label"><p>Senha:</p></label></div>
                        <div class="col-sm-8"><input type="password" name="senha" class="form-control" placeholder="******" onfocusout="validarCadastroClienteSenha()"></div>
                        
                        <div class="col-sm-4"><label for="email" class="form-label"><p>Email:</p></label></div>
                        <div class="col-sm-8"><input type="text" name="email" class="form-control" placeholder="exemplo@exemplo.com" onfocusout="validarCadastroClienteEmail()"></div>
                        
                        <div class="col-12 mt-4 text-center"><button class="btn" type="submit" id="cardButton">Cadastrar</button></div>
                    </div>
    
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Validadores -->
<script defer src="{{ url_for('static', filename='js/validaCadastroCliente/Email.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/validaCadastroCliente/Nome.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/validaCadastroCliente/Data.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/validaCadastroCliente/Senha.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/validaCadastroCliente/Credito.js') }}"></script>
{% endblock %}
