{% extends "base.html" %}
    
{% block content %}
{% if dados %}
    Cadastro concluído com sucesso, seu id é {{dados.0}}, guarde este número, ele será importante para consultas individuais.
    {% endif %}
    
<form action="/insert/cliente" method="POST">
    <input type="text" name="nome" placeholder="Nome completo">
    <input type="date" name="nascimento" placeholder="Data de nascimento">
    <input type="number" name="credito" placeholder="Credito inicial: 0.00" step="0.1" min="0.00">

    <button type="submit">Cadastrar</button>
</form>

{% endblock %}