{% extends "base.html" %}
    
{% block content %}

<form action="/read/cliente" method="POST">
    <label for="id">Insira o id do usuário que deseja pesquisar:</label>
    <input name="id" type="number">
    <button type="submit">Pesquisar</button>
</form>

{% if dadosLogin %}

    <pre>
        O cliente de id: {{dadosLogin.0}}
        Se chama: {{dadosLogin.1}}
        E tem de saldo: {{dadosLogin.3}}
{% if compras %}
    E realizou as seguintes compras:
    {% for compra in compras %}
        {{compra}}
        {% endfor %}
    {% else %}
        Porém ainda não realizou nenhuma compra.
        Não perca tempo, compre seus games na Ston!
    {% endif %}
    {% elif nenhum == True %}
        Cliente solicitado não está cadastrado.
    </pre>
    {% endif %}

{% endblock %}