{% extends "base.html" %}
    
{% block content %}

{% if idApagado %}
    <p>O cliente de id {{idApagado}} foi removido com sucesso.</p>
    {% endif %}

{% if mensagemCredita %}
    <p>{{mensagemCredita}}</p>
    {% endif %}

{% for cliente in listaClientes %}
    <br>
    Id: {{cliente.0}} 
    <form action="/delete/cliente/{{cliente.0}}" method="POST">
        <button>Deletar</button>
    </form>
    <p>Nome: {{cliente.1}} </p>
    <p>Nascimento {{cliente.2.strftime('%d/%m/%Y')}}</p>
    <p>Credito atual: {{cliente.3}}</p>
    <p>Email: {{cliente.5}}</p>
    <form action="/update/cliente/credito/{{cliente.0}}/{{cliente.3}}" method="POST">
        <button>Creditar</button>
    </form>

        {% else %}
        Não há clientes cadastrados.
    {% endfor %}

{% endblock %}