{% extends "base.html" %}
    
{% block content %}

<form action="/read/cliente" method="POST">
    <label for="id">Insira o id do usuário que deseja pesquisar:</label>
    <input name="id" type="number">
    <button type="submit">Pesquisar</button>
</form>

{% if dadosLogin %}
    <p>O cliente de id: {{dadosLogin.0}}</p>
    <p>Se chama: {{dadosLogin.1}}</p>
    <p>Tem de saldo: {{dadosLogin.2}}</p>
    <p>Email: {{dadosLogin.5}}</p>
{% if nomeJogos %}
    <p>E realizou as seguintes compras:</p>
    {% for nomeJogo in nomeJogos %}
        <p>{{nomeJogo}}</p>
        {% endfor %}
    {% else %}
        <p>
            Porém ainda não realizou nenhuma compra.
            Não perca tempo, compre seus games na Ston!
        </p>
    {% endif %}
    {% elif nenhum == True %}
        <p>Cliente solicitado não está cadastrado.</p>
    {% endif %}

{% endblock %}