{% extends "base.html" %}
    
{% block content %}
{% if nenhum %}
    <p>Cliente não cadastrado ou data de nascimento errada</p>
    {% endif %}
    
<form action="/read/cliente/login" method="POST">

    <label for="nome">Insira seu id como login.</label>
    <input type="number" name="id" placeholder="0" min="0">
    <br>
    <label for="date">Insira sua data de nascimento como senha.</label>
    <input type="date" name="nascimento" placeholder="Data de nascimento">  
    <br>
    <button type="submit">Login</button>
</form>

{% endblock %}