{% extends "base.html" %}
    
{% block content %}

{% if nenhum %}

    <div class="row justify-content-center align-items-center text-center mt-4">
        <div class="col-8 col-sm-6">
            <div class="border" id="textoFeedback">
                <p>Cliente não cadastrado ou senha errada</p>
            </div>
        </div>  
    </div>

{% endif %}

    <div class="row justify-content-center mt-4">
        <div class="col-8 col-sm-6 align-items-center">
            <div class="card" id="card">
                <div class="card-header" id="cardHeader">
                    <p>Faça teu login.</p>
                </div>
                <div class="card-body" id="cardBody">
                    <form name="formLoginCliente" class action="/read/cliente/login" method="POST">
                        <div class="row my-2 align-items-center">

                            <div class="col-sm-3"><label for="email" class="form-label"><p>Email:</p></label></div>
                            <div class="col-sm-9"><input type="text" class="form-control" name="email" 
                                placeholder="exemplo@exemplo.com" onfocusout="validarLoginClienteEmail()" 
                                oninput="setCustomValidity('')">
                            </div>
                        </div>
                        <div class="row my-2 align-items-center">

                            <div class="col-sm-3"><label for="senha" class="form-label"><p>Senha:</p></label></div>
                            <div class="col-sm-9"><input type="password" class="form-control" name="senha"
                                 placeholder="******" onfocusout="validarLoginClienteSenha()" oninput="setCustomValidity('')">
                                </div>

                            <div class="col-12 mt-4 text-center"><button class="btn" type="submit" id="cardButton" onclick="validarLoginClienteEmail(); validarLoginClienteSenha();">Login</button></div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>


<script defer src="{{ url_for('static', filename='js/validaLoginCliente/Email.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/validaLoginCliente/Senha.js') }}"></script>

{% endblock %}