{% extends "base.html" %}
    
{% block content %}
{% if nenhum %}
    <p>Cliente não cadastrado ou data de nascimento errada</p>
    {% endif %}
    
<form action="/read/cliente/login" method="POST">

    <label for="email">Insira teu email.</label>
    <input type="text" name="email" placeholder="exemplo@exemplo.com">
    <br>
    <label for="senha">Insira tua senha.</label>
    <input type="password" name="senha" placeholder="******">  
    <br>
    <button type="submit">Login</button>
</form>

{% endblock %}