:root{
    --azulClaro:rgb(75, 139, 190);
    --azulForte:rgb(48, 105, 152);
    --amareloClaro:rgb(255, 232, 115);
    --amareloForte:rgb(255, 212, 59);
    /* original: 100 100 100 */
    --cinza:rgb(70, 70, 70);
}

body{
    background-color: var(--amareloClaro) !important; 
    color: var(--cinza) !important;
    overflow-x:hidden !important;
}

hr{
    /*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/
    margin: calc(2px + (10 - 2) * ((100vw - 300px) / (1600 - 300))) !important;
}

p{
    text-align: center;
    margin: 0 !important;
    font-size: 20px;
}

#rowHome{
    height: 86vh !important;
    
}

#colHome{
    transform: translate(0,-100%);
}

#rowCentroVertical{
    height: 50vh !important;
}

#colCentroVertical{
    transform: translate(0,35%);
}

#textoHome{
    margin: 0 !important;
    padding: 0 !important;
    border: solid 5px var(--azulClaro) !important;
    color: var(--azulClaro);
    border-radius: 7%;
    font-size: calc(26px + (36 - 26) * ((100vw - 300px) / (1600 - 300))) !important;
}

#card{
    border-color: var(--azulForte);
}

#cardHeader{
    background-color: var(--azulForte);
    color: var(--amareloClaro);
}

#cardBody{
    background-color: var(--amareloForte);
    color: var(--cinza);
}

#cardButton{
    border-color: var(--azulForte);
    color: var(--azulForte);
    background-color: var(--amareloForte);

}

/* nth child nao funciona quando tem row col envolvido: Cada card, mesmo dentro de um card-group, é tratado como o
primeiro de seu contexto. Eis a redundancia: */

.hiddenDireita{
    opacity: 0 !important;
    filter: blur(5px) !important;
    transform: translateX(100%) !important;
    transition: all 1s !important;
    /* background-color: green !important; */
}

.hiddenEsquerda{
    opacity: 0 !important;
    filter: blur(5px) !important;
    transform: translateX(-100%) !important;
    transition: all 1s !important;
    /* background-color: blue !important; */
}

.show{ 
    opacity: 1 !important;
    filter: blur(0) !important;
    transform: translateX(0) !important;
}

#cardButton:hover{
    background-color: var(--azulClaro) !important;
    color: var(--cinza) !important;
}

#cardButtonDanger{
    border-color: #dc3545;
    background-color: var(--amareloForte);
    color: var(--azulForte);
}

#cardButtonDanger:hover{
    border-color: #bb2d3b;
    background-color: #bb2d3b;
    color: var(--amareloForte);
}

.btn{
    font-size: 20px !important;
}

.form-label{
    margin-bottom: 0 !important;
}

.dropdown-menu{
    background-color: var(--amareloForte) !important;
    color: var(--cinza);
}

@media (max-width: 768) {
    #colHome{
        transform: translate(0,400%) !important;
    }
}

@media (max-width: 991px) {
    p{
        font-size: calc(18px + (24 - 20) * ((100vw - 300px) / (1600 - 300))) !important;
    }
  
}
