:root{
    --azulClaro:rgb(75, 139, 190);
    --azulForte:rgb(48, 105, 152);
    --amareloClaro:rgb(255, 232, 115);
    --amareloForte:rgb(255, 212, 59);
    /* original: 100 100 100 */
    --cinza:rgb(70, 70, 70);
}

body{
    background-color: var(--amareloClaro) !important; 
    color: var(--cinza) !important;
}

hr{
    /*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/
    margin: calc(2px + (10 - 2) * ((100vw - 300px) / (1600 - 300))) !important;
}

p{
    text-align: center;
    margin: 0 !important;
}

#rowHome{
    height: 86vh !important;
}

#colHome{
    transform: translate(0,-100%);
}

#textoHome{
    margin: 0 !important;
    padding: 0 !important;
    border: solid 5px var(--azulClaro) !important;
    color: var(--azulClaro);
    border-radius: 7%;
    font-size: calc(26px + (36 - 26) * ((100vw - 300px) / (1600 - 300))) !important;
}

#textoFeedback{
    margin: 0 !important;
    padding: 0 !important;
    border: solid 2px var(--azulClaro) !important;
    color: var(--azulClaro);
    font-size: calc(16px + (24 - 16) * ((100vw - 300px) / (1600 - 300))) !important;
}

#card{
    border-color: var(--azulForte);
}

#cardHeader{
    background-color: var(--azulForte);
    color: var(--amareloClaro);
}

#cardBody{
    background-color: var(--amareloForte);
    color: var(--cinza);

}

#cardButton{
    border-color: var(--azulForte);
    color: var(--azulForte);
    background-color: var(--amareloForte);

}

#cardButton:hover{
    background-color: var(--azulClaro) !important;
    color: var(--cinza) !important;
}

#cardButtonDanger{
    border-color: #dc3545;
    background-color: var(--amareloForte);
    color: var(--azulForte);
}

#cardButtonDanger:hover{
    border-color: #bb2d3b;
    background-color: #bb2d3b;
    color: var(--amareloForte);
}

.form-label{
    margin-bottom: 0 !important;
}

@media (max-width: 768) {
    #colHome{
        transform: translate(0,400%) !important;
    }
}

@media (max-width: 991px) {
    p{
        font-size: calc(20px + (26 - 20) * ((100vw - 300px) / (1600 - 300))) !important;
    }
}