<nav class="navbar navbar-expand-lg navbar-light navBar" aria-label="Offcanvas navbar large">
    <div class="container-fluid">

      <a class="navbar-brand logoAzul" href="/"><img src="{{ url_for('static', filename='img/microLogoAzul.png') }}"></a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        
        <div class="offcanvas-header offCanvasHead">
          <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='img/microLogoAmarelo.png') }}">
          </a>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body offCanvasBody">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 ">
           
            <li class="nav-item">
              <a href="/" class="nav-link active">
                <button class="btn offCanvasButton" type="button">
                  Home
                </button>
              </a>              
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <button class="btn dropdown-toggle offCanvasButton" type="button">Zona do Cliente</button>
              </a>
              <ul class="dropdown-menu dropdown-menu-center">
                <li><p>Inclui operações que precisa estar logado</p></li>
                <li><hr class="dropdown-divider"></li>
                {% if "idLogado" in session %}
                  <li><a class="dropdown-item" href="/read/cliente/logout"><p>Deslogar</p></a></li>
                  <li><a class="dropdown-item" href="/read/jogo"><p>Pesquisar game</p></a></li>

                  {% else %}
                    <li><a class="dropdown-item" href="/read/cliente/login"><p>Login</p></a></li>
                {% endif %}
              </ul>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <button class="btn dropdown-toggle offCanvasButton" type="button">Administrativo: Cliente</button>
              </a>
              <ul class="dropdown-menu dropdown-menu-center">
                <li> <p>Acesso completo exceto login/logout</p> </li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/read/clientes"><p>Listar clientes</p></a></li>
                <li><a class="dropdown-item" href="/read/cliente"><p>Pesquisar por cliente</p></a></li>
                <li><a class="dropdown-item" href="/insert/cliente"><p>Cadastra clientes</p></a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <button class="btn dropdown-toggle offCanvasButton" type="button">Administrativo: Game</button>
              </a>
              <ul class="dropdown-menu dropdown-menu-center">
                <li> <p>Acesso completo exceto comprar jogos</p> </li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/read/jogos"><p>Listar jogos</p></a></li>
                <li><a class="dropdown-item" href="/insert/jogo"><p>Cadastra jogo no sistema</p></a></li>
              </ul>
            </li>
            
          </ul>  
        </div>
        
      </div>

    </div>
  </nav>  